<section class = "post">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <div class = "postlink"><a href="/post/{{id}}" style = "color: mintcream">{{title}}</a> 
  <p>Posted by {{user.name}} on {{created_at}}</p> </div>
    <!-- The card contains the first painting of the gallery -->
    <p>
        {{content}} 
    </p>

</section>