<h2> Welcome {{name}}</h2>
{{#each posts as |blog|}}
<section class = "post">
  <div class = "postlink"><a href="/mypost/{{blog.id}}" style = "color: mintcream">{{blog.title}}</a> 

<p>You posted on {{moment blog.created_date format="MM-DD-YYYY"}}</p> </div>


    <p>
        {{blog.content}} 
    </p>

</section>
{{/each}}
<p class = "postBtn" onclick = document.location.replace('/createpost');>+ New Post</p>

