<section class = "post">
  <!-- The contents of this card links to the gallery page using the gallery ID -->

  <div class = "postlink"><a href="/post/{{postdet.id}}" style = "color: mintcream">{{postdet.title}}</a> </div>
    <div class = "postHeader">
    <div class = "postBtn"><a href="/editpost/{{postdet.id}}" style = "color: mintcream">edit post</a> </div>
<p class = "postBtn" id = "deletePost" >Delete</p>
</div>
<p>Posted by {{postdet.user.name}} on {{moment postdet.created_date format="MM-DD-YYYY"}}</p> </div>


    <p>
        {{postdet.content}}
        {{postdet.comments.content}}
        {{comment.id}}
    </p>

{{#if logged_in}}
<p class = "postBtn" onclick = newcomment();>Add a comment</p>
<form class="form newcomment-form" style="display: none">

      <div class="form-group">
        <label for="newcomment-content">Type your comment here.</label>
        <input class="form-input" type="text" id="comment-content" />
      </div>
      <div class="form-group">
        <button class="postBtn" type="submit">Comment</button>
      </div>
    </form>
{{/if}}
</div>
</section>

{{#each postdet.comments as |comment|}}
<div class = comment>
{{!-- <span class = "commentTop">t</span> --}}
<p> -- {{comment.user.name}}, {{moment comment.created_date format="MM-DD-YYYY"}}</p>
<p>{{comment.content}}</p>
</div>
{{/each}}

 
  </div>
</div>

<script src="/js/newcomment.js"></script>