

<section class = "post">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <div class = "postlink"><a href="/post/{{postdet.id}}" style = "color: mintcream">{{postdet.title}}</a> 


<p>Posted by {{postdet.user.name}} on {{postdet.created_date}}</p> </div>

    <!-- The card contains the first painting of the gallery -->
    <p>
        {{postdet.content}}
        {{postdet.comments.content}}
        {{comment.id}}
    </p>


<p class = "postBtn" onclick = document.location.replace('/createcomment');>Add a comment</p>
</div>
</section>

{{#each comments as |blog|}}
<p>{{id}} says{{postdet.comments.content}}</p>
{{/each}}