

<section class = "post">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <div class = "postlink"><a href="/post/{{postdet.id}}" style = "color: mintcream">{{postdet.title}}</a> 


<p>Posted by {{postdet.user.name}} on {{postdet.created_date}}</p> </div>

    <!-- The card contains the first painting of the gallery -->
    <p>
        {{postdet.content}}
        {{postdet.comments.content}}
        {{comment.id}}
    </p>


<p class = "postBtn" onclick = newcomment();>Add a comment</p>
</div>
</section>

{{#each postdet.comments as |comment|}}
<p> -- {{comment.user.name}}, {{comment.created_date}} says {{comment.content}}</p>
{{/each}}

 <form class="form newcomment-form" style="display: none">

      <div class="form-group">
        <label for="newcomment-content">Type your comment here.</label>
        <input class="form-input" type="text" id="comment-content" />
      </div>
      <div class="form-group">
        <button class="postBtn" type="submit">Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newcomment.js"></script>